@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format("woff2"),
    url('../fonts/OpenSansRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans-SemiBold'),
    url('../fonts/OpenSansSemiBold.woff2') format("woff2"),
    url('../fonts/OpenSansSemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans-Bold'),
    url('../fonts/OpenSansBold.woff2') format("woff2"),
    url('../fonts/OpenSansBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  position: relative;
  border: none;
  cursor: pointer;
  text-align: center;
}

.flex {
  display: flex;
}

.container {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.section-offset {
  margin: 0;
  margin-bottom: 80px;
}

/*header*/

.top-wrapper {
  position: relative;
  overflow: hidden;
}

.header__container,
.header__nav,
.header__list {
  display: flex;
  align-items: center;
}

.header__container {
  position: relative;
  justify-content: space-between;
}

.header__list {
  flex-wrap: wrap;
}

.header {
  position: relative;
  z-index: 4;
  color: #FFFFFF;
}

.header__burger {
  display: none;
}

.burger {
  position: relative;
  width: 36px;
  height: 28px;
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.burger__line {
  position: absolute;
  left: 0;
  top: calc(50% - 3px / 2);
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(calc(28 / 36));
  transform-origin: left;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transform-origin: left;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
  transform: scaleX(calc(24 / 36));
}

.burger.is-opened .burger__line {
  opacity: 0;
}

.is-opened.burger::before,
.is-opened.burger::after {
  transform-origin: center;
}

.is-opened.burger::before {
  top: calc(50% - 3px / 2);
  transform: rotate(45deg);
  animation-name: burger-befor-open;
  animation-duration: color .3s ease;
}

.is-opened.burger::after {
  bottom: calc(50% - 3px / 2);
  transform: scaleX(1) rotate(-45deg);
  animation-name: burger-after-open;
  animation-duration: color .3s ease;
}

.logo__image {
  flex-shrink: 0;
  width: 173px;
}

.header__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1px;
  color: #FFFFFF;
}

.link {
  position: relative;
  display: inline-block;
}

.link::before {
  content:"";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -14px;
  bottom: -13px;
  background-color: #7943A4;
  transform: scaleX(0);
  transition: transform .3s ease;
}

.header-bottom__item-btn::before {
  top: -5px;
  bottom: -5px;
}

.header__link-open::before {
  top: -5px;
  bottom: -5px;
}

.link:hover {
  color: #c283f3;
}

.link:focus {
  outline: none;
}

.link:focus:not(:hover):not(:active)::before {
  transform: scaleX(1);
}

.link:active {
  color: #7943A4;
  transition: none;
}

.link__text {
  position: relative;
}

.header__item:not(:last-child) {
  margin-right: 63px;
}

.header__nav {
  justify-content: space-between;
  width: calc(1250 / 1600 * 100%);
}

.header__nav.is-opened {
  display: flex;
  animation-name: menu-open;
  animation-duration: .5s;
}

.header__nav.is-closed {
  animation-name: menu-close;
  animation-duration: .5s;
}

.header__link-open {
  align-self: flex-start;
  flex-shrink: 0;
  font-size: 18px;
  line-height: 25px;
  padding-left: 10px;
  transition: color .3s ease; padding-left: color .3s ease;
}

.header__link-open-content {
  display: flex;
  align-items: baseline;
  transition: padding-left color .3s ease;
}

.header__link-open-arrow {
  position: relative;
  transform: translateX(-5px);
  transition: color .5s ease;
}


.header__link-open:hover .header__link-open-content,
.header__link-open:active .header__link-open-content {
  padding-left: 5px;
}

.header__top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000;
}

.header-bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom__simplebar {
  display: inline-block;
  margin-right: auto;
}

.header-bottom__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -10px;
}

.header-bottom__item {
  position: relative;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 21px;
}

.header-bottom__item:not(:last-child) {
  margin-right: 80px;
}

.header__link-text {
  transition: color .5s ease;
}

.header-bottom__item-btn {
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  padding-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  transition: color .3s ease;
}

.header-bottom__item-btn:hover,
.header-bottom__item-btn:focus {
  color: var(--header-bottom);
}

.header-bottom__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: center;
  transition: color .3s ease;
}

.header-bottom__item-btn:hover::after {
  color: #c283f3;
}

.header-bottom__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.header-bottom__item-btn:active {
  color: var(--two);
}

.header-bottom__dropdown {
  display: none;
  left: -6px;
  padding: 42px 40px 40px 39px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-bottom__dropdown-wrap {
  width: 223px;
  max-height: 221px;
}

.header-bottom__dropdown.is-active {
  position: absolute;
}

.header-bottom__dropdown > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header-bottom__dropdown.is-active {
  display: block;
  top: 67px;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.header-bottom__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.header-bottom__drop-list {
  list-style: none;
  padding-left: 0;
}

.header-bottom__dropdown-item {
  width: 220px;
}

.header-bottom__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header-bottom__item-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  color: #fff;
  transition: border-color .3s ease;
}

.header-bottom__item-tintoretto {
  background-image: url(../img/tintoretto.png);
}

.header-bottom__item-fridrih {
  background-image: url(../img/frederih.png);
}

.header-bottom__item-leo {
  background-image: url(../img/leo.png);
}

.header-bottom__item-varocio {
  background-image: url(../img/verokio.png);
}

.header-bottom__item-mone {
  background-image: url(../img/mone.png);
}

.header-bottom__item-sisley {
  background-image: url(../img/sisley.png);
}

.header-bottom__item-mane {
  background-image: url(../img/mane.png);
}

.header-bottom__item-renyar {
  background-image: url(../img/rene.png);
}

.header-bottom__item-vangog {
  background-image: url(../img/vangog.png);
}

.header-bottom__item-sezan {
  background-image: url(../img/sezan.png);
}

.header-bottom__item-gogen {
  background-image: url(../img/gogen.png);
}

.header-bottom__item-sera {
  background-image: url(../img/sera.png);
}

.header-bottom__item-kandinsky {
  background-image: url(../img/kandinsky.png);
}

.header-bottom__item-marenety {
  background-image: url(../img/marineti.png);
}

.header-bottom__item-malevich {
  background-image: url(../img/malevich.png);
}

.header-bottom__item-picasso {
  background-image: url(../img/picasso.png);
}

.header-bottom__item-kara {
  background-image: url(../img/karra.png);
}

.header-bottom__item-pratella {
  background-image: url(../img/pratella.png);
}

.header-bottom__item-seviriny {
  background-image: url(../img/severini.png);
}

.header-bottom__item-balla {
  background-image: url(../img/balla.png);
}

.header-bottom__item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity .3s ease;
}

.header-bottom__item-text {
  position: relative;
}

.header-bottom__item-link:hover,
.header-bottom__item-link:focus {
  outline: none;
  border-color: #9D5CD0;
}

.header-bottom__item-link:active::before {
  opacity: 1;
}

.header-bottom__dropdown .simplebar-track.simplebar-vertical {
  right: -17px;
  width: 2px;
  background-color: #000;
}

.header-bottom__item-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  transition: color .5s ease;
}

.header-bottom__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

.header-bottom__top {
  position: relative;
  overflow: hidden;
}

.header-bottom__container {
  align-items: center;
}

input {
  outline: none;
  color: #FFFFFF;
}

.link__text:hover {
  color: #c283f3;
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.header__search {
  position: absolute;
  bottom: 0;
  right: 56px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: calc(241 / 1600 * 100%);
  color: #FFFFFF;
  transform: translateY(calc(100% + 20px + 27px));
}

.header__search-input,
.header__search-btn {
  color: inherit;
}

.header__search-input {
  width: calc(218 / 251 * 100%);
  padding: 0;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
  transition: border-color .3s ease;
}

.header__search-btn {
  display: flex;
  background-color: inherit;
  border: none;
  margin-right: 5px;
  padding-left: 11px;
  padding-top: 6px;
  cursor: pointer;
}

.header__search-btn::before {
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
}

.header__search-input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: inherit;
}

.header__search-input:hover {
  color: #c283f3;
}

.header__search-input:focus {
  border-color: #7943A4;
  outline: none;
}

.header__search-input:focus::placeholder {
  opacity: 0;
}

.header__services-link {
  max-width: 220px;
}

.header__search-btn--open,
.header__search-btn--close {
  display: none;
}

.link__icon {
  position: relative;
  width: 100%;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes menu-open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes burger-before-open {
  0% {
    top: 0;
  }
  50% {
    top: calc(50% - 3px / 2);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes burger-before-open {
  0% {
    bottom: 0;
  }
  50% {
    bottom: calc(50% - 3px / 2);
  }
  100% {
    transform: scaleX(1) rotate(-45deg);
  }
}

@keyframes search-open {
  from {
    /* transform: translateY(-50%) scaleX(0); */
    opacity: 0;
  }
  to {
  /*   transform: translateY(-50%) scaleX(100%); */
    opacity: 1;
  }
}

@keyframes search-close {
  from {
    /* transform: translateY(-50%) scaleX(100%); */
    opacity: 1;
  }
  to {
    /* transform: translateY(-50%) scaleX(0); */
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 1280px) {
  .header-bottom {
    display: none;
  }
  .header__burger {
    position: relative;
    z-index: 2;
    display: block;
  }
  .header__list {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 64px;
    overflow-y: auto;
    flex-wrap: nowrap;
  }
  .header__nav {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding-top: 96px;
    padding-bottom: 61px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header__item:not(:last-child) {
    margin-right: 0;
  }
  .header__link-open {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 257px;
    padding: 22px;
    border: 2px solid #c283f3;
    border-radius: 100px;
  }
  .header__search-btn {
    flex-shrink: 0;
    margin-right: 10px;
  }
  .header__search-btn--open,
  .header__search-btn--close {
    display: block;
    margin-right: 0;
  }
  .header__search-btn--open {
    margin-right: -7px;
  }
  .header__search-btn--close {
    width: 23px;
    height: 23px;
    margin-right: 7px;
  }
  .header__search {
    display: none;
    width: 314px;
    bottom: 5px;
    flex-direction: row;
    transform: translateY(0);
    justify-content: flex-end;
  }
  .header__search.is-opened {
    display: flex;
    animation-name: search-open;
    animation-duration: .3s;
  }
  .header__search.is-closed {
    animation-name: search-close;
    animation-duration: .3s;
  }
  .header__search-input,
  .header__search-btn--close {
    order: 1;
  }
  .header__search-input {
    width: 218px;
    margin-right: 24px;
  }
  .header__search-input::placeholder {
    opacity: 0;
  }
  .link__text2 {
    width: 29px;
    height: 29px;
  }
}

@media (max-width: 1600px) {
  .header__item:not(:last-child) {
    margin-right: 41px;
  }
  .header-bottom__item:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: 970px) {
  .header__top {
    padding-bottom: 27px;
  }
  .header__search {
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 2;
    width: 100%;
    height: 100px;
    background-color: #000000;
  }
  .header__search-input {
    width: auto;
    flex-grow: 1;
  }
  .header__search-btn--close {
    width: 27px;
    height: 27px;
    margin-right: 0;
  }
  .link__text2 {
    width: 27px;
    height: 27px;
  }
}

@media (max-width: 610px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__container {
    margin-top: -4px;
  }
  .burger {
    width: 25px;
    height: 18px;
  }
  .burger__line,
  .burger::before,
  .burger::after {
    height: 2px;
  }
  .burger__line {
    top: calc(50% - 2px / 2);
    transform: scaleX(calc(16 / 25));
  }
  .burger::after {
    transform: scaleX(calc(10 / 25));
  }
  .header__logo {
    width: 97px;
  }
  .header__search {
    align-items: flex-end;
    padding-bottom: 20px;
    height: 75px;
    border-color: #7943A4;
    justify-content: center;
  }
  .header__top {
    padding-top: 12px;
    padding-bottom: 9px;
  }
  .header__nav {
    padding-left: 15px;
    padding-top: 46px;
    padding-bottom: 27px;
  }
  .header__list {
    font-size: 16px;
    line-height: 32px;
  }
  .header__link-open {
    width: 116px;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
  }
  .header__search-btn {
    margin-right: -7px;
  }
  .header__serach-btn--submit {
    right: 4px;
    top: 4px;
  }
  .header__search-btn--close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
  }
  .header__search-input {
    flex-grow: 0;
    width: calc(180 / 290 * 100%);
    margin-right: 0;
  }
  .link__text2 {
    width: 18px;
    height: 18px;
  }
}

/*hero*/

.section-hero {
  position: relative;
  z-index: 3;
  overflow: hidden;
  margin-bottom: 80px;
}

.section-hero__content {
  max-width: 597px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 41px;
}

.section-hero__content > * {
  pointer-events: auto;
}

.section-hero__heading {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 1px;
  color: #FFFFFF;
}

.section-hero__discription {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 92px;
  color: #FFFFFF;
}

.section-hero__btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #9D5CD0;
  padding: 19.5px 33px;
  border-radius: 100px;
}


.swiper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.swiper-slide {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
}

.swiper0 {
   background-image: url(../img/heropic1.jpg);
}

.swiper1 {
  background-image: url(../img/heropic2.png);
}

.swiper2 {
  background-image: url(../img/heropic3.png);
}

.btn::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 2px solid;
  border-radius: 100px;
  opacity: 0;
  transition: opasity .3s ease;
}

.btn:focus {
  outline: none;
}

.btn:focus::after {
  opacity: 1;
}

.btn--fill {
  border: 3px solid transparent;
  transition: border-color .3s ease;
}

.btn--fill:hover {
  border-color: #D1A9F0;
}

.btn--fill:active {
  border-color: #D1A9F0;
  background-color: #7943a4;
}

.btn--fill::after {
  border-color: #c283f3;
}

@media (max-width: 1280px) {
  .swiper0 {
    background-image: url(../img/heropic10241.jpg);
 }
 .swiper1 {
   background-image: url(../img/heropic10242.jpg);
 }
 .swiper2 {
   background-image: url(../img/heropic10243.jpg);
 }
 .section-hero {
   margin-bottom: 77px;
 }
 .section-hero__content {
   max-width: 661px;
   padding-top: 89px;
   padding-bottom: 38px;
 }
 .section-hero__heading {
   margin-bottom: 3px;
 }
 .section-hero__discription {
   margin-bottom: 134px;
 }
 .section-gallery__select {
   margin-bottom: 572px;
 }
}

@media (max-width: 970px) {
  .swiper0 {
    background-image: url(../img/heropic7681.jpg);
 }
 .swiper1 {
   background-image: url(../img/heropic7682.jpg);
 }
 .swiper2 {
   background-image: url(../img/heropic7683.jpg);
 }
 .section-hero__heading {
   margin-bottom: 4px;
 }
}

@media (max-width: 611px) {
  .section-hero {
    padding-top: 30px;
    padding-bottom: 45px;
    margin-bottom: 45px;
  }
  .section-hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .section-hero__heading {
    font-size: 32px;
    line-height: 44px;
  }
  .section-hero__discription {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }
  .section-hero__btn {
    font-size: 12px;
    padding: 14px 19px;
  }
}

  @media (max-width: 420px) {
  .swiper0 {
    background-image: url(../img/heropicmobile1.jpg);
 }
  .swiper1 {
   background-image: url(../img/heropicmobile2.jpg);
 }
  .swiper2 {
   background-image: url(../img/heropicmobile3.jpg);
 }
  .section-hero {
    padding-top: 0;
    padding-bottom: 0;
  }
  .section-hero__content {
    padding-top: 27px;
    padding-bottom: 0;
  }
  .section-hero__discription {
    margin-bottom: 43px;
  }
  .section-hero__btn {
    padding: 4px 16px;
  }
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.section-hero__content {
  position: relative;
  z-index: 2;
}

/*all]*/

.section-all {
  margin-top: 88px;
  margin-bottom: 70px;
}

.section-all__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  margin-top: -7px;
  margin-bottom: 2px;
}

.section-all__discription {
  max-width: 1080px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

@media (max-width: 1280px) {
  .section-all {
    margin-bottom: 68px;
  }
  .section-all__heading {
    margin-top: -6px;
    margin-bottom: 10px;
   }
   .section-all__discription {
     margin: 0;
     margin-top: 16px;
   }
}

@media (max-width: 420px) {
  .section-all {
    margin-top: 0;
    margin-bottom: 41px;
  }
  .section-all__heading {
    margin-top: 0;
    margin-top: 50px;
    font-size: 28px;
    line-height: 38px;
  }
  .section-all__discription {
    font-size: 14px;
    line-height: 28px;
    margin-top: 12px;
  }
}


/*gallery*/

.section-gallery {
  background-image: url(../img/gallerybackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 54px;
  margin-bottom: 63px;
}

/* choices */

.filter-choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1;
  color: white;
}

.filter-choices:focus {
  outline: none;
}

.filter-choices:last-child {
  margin-bottom: 0;
}

.filter-choices.is-open {
  overflow: visible;
}

.filter-choices.is-disabled .filter-choices__inner,
.filter-choices.is-disabled .filter-choices__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
          user-select: none;
}

.filter-choices.is-disabled .filter-choices__item {
  cursor: not-allowed;
}

.filter-choices [hidden] {
  display: none;
}

.filter-choices[data-type*=select-one] {
  cursor: pointer;
}

.filter-choices[data-type*=select-one] .filter-choices__inner {
  padding-bottom: 12px;
}

.filter-choices[data-type*=select-one]::after {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  transform: rotate(45deg);
  transform-origin: center;
  pointer-events: none;
}

.filter-choices[data-type*=select-one].is-open::after {
  transform: rotate(225deg) translate(-2px, -2px);
}

.filter-choices__inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #FFF;
  border-radius: 6px;
  overflow: hidden;
}

.is-focused .filter-choices__inner, .is-open .filter-choices__inner {
  background-color: rgba(225, 225, 225, 0.2);
}

.is-open .filter-choices__inner {
  border-radius: 6px;
}

.filter-choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.filter-choices__list--single {
  display: inline-block;
  width: 100%;
}

.filter-choices__list--single .filter-choices__item {
  width: 100%;
}

.filter-choices__list--dropdown, .filter-choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  border: 1px solid #999999;
  top: 100%;
  margin-top: -1px;
  border-radius: 6px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-active.filter-choices__list--dropdown, .is-active.filter-choices__list[aria-expanded] {
  visibility: visible;
}

.filter-choices__list--dropdown .filter-choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.filter-choices__list--dropdown .filter-choices__item {
  position: relative;
  padding: 12px 15px;
  color: #999999;
}

.filter-choices__list--dropdown .filter-choices__item.is-selected {
  display: none;
}

.filter-choices__list--dropdown .filter-choices__item:not(:last-child) {
  border-bottom: 1px solid;
}

@media (min-width: 640px) {
  .filter-choices__list--dropdown .filter-choices__item--selectable {
    padding-right: 40px;
  }
  .filter-choices__list--dropdown .filter-choices__item--selectable::after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.filter-choices__list--dropdown .filter-choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-choices__item {
  cursor: default;
}

.filter-choices__item--selectable {
  cursor: pointer;
}

.filter-choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
          user-select: none;
  opacity: 0.5;
}

.section-gallery__block-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.section-gallery__block-left,
.section-gallery__last {
  width: calc(400 / 1600 * 100%);
}

.section-gallery__heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.section-gallery__block-left-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.section-gallery__last {
  position: relative;
}

.section-gallery__discription {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.section-gallery__select {
  margin-top: 10px;
  margin-bottom: 695px;
}

.discription-link {
  color: #c283f3;
}

.section-gallery__swiper {
  padding-top: 23px;
  width: calc(1150 / 1600 * 100%);
  margin-right: 0;
}

.slides-container {
  overflow: hidden;
}

.section-gallery__navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 34px;
}

.section-gallery__pagination {
  margin-right: 15px;
  text-align: center;
  color: #ffffff;
}

.nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: #666666;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.section-gallery__prev {
  margin-right: 23px;
}

.section-gallery__next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.section-gallery__prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.section-gallery__slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.section-gallery__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease, border-color .3s ease;
}

.section-gallery__slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/loupnorm.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.section-gallery__slide:hover::after {
  opacity: 1;
}

.section-gallery__slide:focus {
  outline: none;
}

.section-gallery__slide:focus::before {
  border-color: #7943A4;
}

.section-gallery__slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.section-gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-btn-color {
  transition: .5s;
}

.nav-btn-color:hover {
  background-color: #9D5CD0;
}

.nav-btn-color:active {
  outline: 1px solid #000000;
  background-color: #7943A4;
}

.nav-btn-color:focus {
  outline: 1px solid #000000;
}


/* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */

@media (max-width: 1280px) {
  .section-gallery {
    padding-bottom: 51px;
  }
  .section-gallery__block-left,
  .section-gallery__last {
    width: calc(280 / 924 * 100%);
  }
  .section-gallery__swiper {
    width: calc(594 / 924 * 100%);
    padding-top: 25px;
  }
  .section-gallery__select {
    margin-bottom: 543px;
  }
  .section-gallery__prev {
    margin-right: 23px;
    width: 30px;
    height: 30px;
  }
  .section-gallery__next {
    width: 30px;
    height: 30px;
  }
  .section-gallery__pagination {
    margin-right: 7px;
  }
  .section-gallery__navigation {
    margin-bottom: 29px;
  }
}

@media (max-width: 926px) {
  .section-gallery__left-elem,
  .section-gallery__swiper {
    width: 100%;
    margin-left: 0;
    margin-bottom: 85px;
  }

  .section-gallery__last {
    width: 100%;
  }

  .section-gallery__last-content {
    position: static;
  }

  .section-gallery__select {
    width: calc(916 / 666 * 100%);
    margin-bottom: 12px;
  }
}

@media (max-width: 440px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-gallery {
    padding-top: 50px;
  }

  .section-gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-gallery__navigation {
    align-self: center;
    margin-top: 20px;
  }

  .section-gallery__slide::before {
    padding-top: 110%;
  }

  .section-gallery__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 12px;
  }
  .section-gallery__select {
    width: calc(1055 / 320 * 100%);
    margin-bottom: 12px;
    margin-top: 4px;
  }
  .section-gallery__left-elem, .section-gallery__swiper {
    margin-bottom: 168px;
  }
}

/*catalog*/

.section-catalog__header {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
  margin: 0;
  margin-bottom: 16px;
}

.section-catalog__discription {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  max-width: 1080px;
  margin: 0;
  margin-bottom: 40px;
}

.section-catalog__card {
  display: none;
  width: calc(750 / 1600 * 100%);
  background-repeat: no-repeat;
  background-position: top left;
}

.tab2 {
  display: none;
  width: calc(750 / 1600 * 100%);
  background-repeat: no-repeat;
  background-position: top left;
}

.section-catalog__card_active {
  display: block;
  animation-name: fade-in;
  animation-duration: .5s;
}

.section-catalog__card-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin-bottom: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section-catalog__card-heading--none {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin: 0;
  margin-bottom: 15px;
}

.section-catalog__card-disription--none {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-bottom: 15px;
}

.section-catalog__link-notphoto {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
}

.section-catalog__content-bottom {
  justify-content: space-between;
}

.section-catalog__data {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.section-catalog__card-disription {
  max-width: 749px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-top: 0;
}

.section-catalog__pic-none {
  margin-bottom: 30px;
}

.section-catalog__questions {
  width: calc(800 / 1600 * 100%);
  list-style: none;
  margin: 0;
  padding-top: -1px;
  padding-left: 0;
}

.section-catalog__question:first-child .section-catalog__heading {
  border-top: 1px solid lightgray;
}

.section-catalog__heading {
  position: relative;
  margin-bottom: 0;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid lightgray;
  transition: border-color .3s ease;
  padding: 42px 120px 40px 0;
  font-size: 24px;
  cursor: pointer;
  transition: color .3s ease, border-color .3s ease;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.section-catalog__heading.ui-accordion-header-active
.section-catalog__head-icon {
  fill: #D1a9f0;
  stroke: #9D5CD0;
  transform: translateY(-50%) rotate(0deg);
}

.section-catalog__content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-catalog__content2 {
  margin-left: 15px;
  margin-top: 37px;
  margin-bottom: 37px;
  align-items: center;
}

.section-catalog__content2-pic {
  outline: 2px solid #CACACA;
  outline-offset: 12px;
  margin-right: 37px
}

.section-catalog__content2-heading-none {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 5px;
}

.section-catalog__content2-discription {
  max-width: 275px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin: 0;
  margin-bottom: 5px;
}

.section-catalog__content2-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
}

.section-catalog__block-text {
  align-items: center;
}

.section-catalog__text {
  margin-top: 0;
  margin-bottom: 20px;
}

.section-catalog__question:first-child .section-catalog__heading:hover,
.section-catalog__heading:hover,
.section-catalog__question:first-child .section-catalog__heading.ui-accordion-header-active,
.section-catalog__heading.section-catalog__ui-accordion-header-active {
  border-color: #9D5CD0;
}

.section-catalog__heading-text {
  position: relative;
}

.section-catalog__heading-text-wrap {
  position: relative;
  z-index: 1;
}

.section-catalog__heading:focus .section-catalog__heading-text::before {
  transform: translate(-50%, -50%) scale(1);
}

.section-catalog__heading-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 100%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: #9D5CD0;
  transition: transform .3s ease;
}

.section-catalog__heading:focus .heading__text::before {
  transform: translate(-50%, -50%) scaleX(1);
}

.section-catalog__head-icon {
  position: absolute;
  top: 50%;
  right: 0;
  height: 60px;
  fill: #ECECEC;
  stroke: #ECECEC;
  transform: translateY(-50%) rotate(-180deg);
  transition: background-color.3s, .6s ease, transform .3s, .6s ease;
}

.head-icon-round {
  transition: fill .5s ease, stroke .5s ease;
}

.section-catalog__heading:focus {
  color: #ffffff;
  outline: none;
}

.section-catalog__heading:hover .head-icon-round,
.section-catalog__heading:focus .head-icon-round {
  fill: #D1A9F0;
  stroke: #D1A9F0;
}

.section-catalog__heading:hover .section-catalog__head-icon::before,
.section-catalog__heading:hover .section-catalog__head-icon::after,
.section-catalog__heading:focus .section-catalog__head-icon::before,
.section-catalog__heading:focus .section-catalog__head-icon::after {
  background-color: #fff;
}

.section-catalog__heading.section-catalog__ui-accordion-header-active .section-catalog__head-icon {
  transform: translateY(-50%) rotate(0);
}

.section-catalog__heading.section-catalog__ui-accordion-header-active .head-icon-round {
  fill: #D1A9F0;
  stroke: #9D5CD0;
}

.section-catalog__test-list {
  padding-top: 6px;
  padding-left: 0;
  column-count: 3;
  list-style: none;
}

.section-catalog__test-item {
  max-width : 800px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  padding-right: 62px;
}

.section-catalog__content {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.section-catalog__content.section-catalog__ui-accordion-content-active {
   border-color: lightgray;
}

.section-catalog__link {
  transition: .5s;
}

.section-catalog__link:hover {
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.section-catalog__link:active {
  color: #7943A4;
  border-bottom: none;
}

.section-catalog__link:focus {
  color: #FFFFFF;
  background-color: #9D5CD0;
  padding: 3px 0;
  outline: none;
}

.discription-link {
  transition: .5s;
}

.discription-link:hover {
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.discription-link:active {
  color: #7943A4;
  border-bottom: none;
}

.discription-link:focus {
  color: #FFFFFF;
  background-color: #9D5CD0;
  padding: 3px 0;
  outline: none;
}

@media (max-width: 1280px) {
  .section-catalog {
    margin-bottom: 76px;
  }
  .section-catalog__heading {
    margin-bottom: 1px;
  }
  .section-catalog__card {
    width: calc(756 / 1600 * 100%);
  }
  .section-catalog__card-heading {
    margin-bottom: 5px;
    margin-top: 26px;
  }
  .section-catalog__card-disription {
    margin-top: 7px;
  }
  .section-catalog__questions {
    padding-left: 24px;
  }
  .section-catalog__test-item {
    padding-right: 0;
  }
  .section-catalog__test-list {
    column-count: 2;
  }
}

  @media (max-width: 1002px) {
    .section-catalog {
      margin-bottom: 55px;
    }
    .section-catalog__content-bottom {
      flex-direction: column-reverse;
    }
    .section-catalog__test-list {
      column-count: 3;
    }
    .section-catalog__questions {
      width: calc(768 / 768 * 100%);
      padding-left: 0;
      margin-bottom: 50px;
    }
    .section-catalog__card {
      width: calc(768 / 768 * 100%);
    }
    .section-catalog__discription {
      margin-bottom: 19px;
    }
    .section-catalog__test-item {
      padding-right: 21px;
    }
    .section-developments__head {
      margin: 0;
    }
    .tooltip-btn {
      width: 14px;
      height: 14px;
    }
    .section-projects__content-top {
      margin-bottom: 57px;
    }
  }
  @media (max-width: 440px) {
    .section-catalog {
      margin-bottom: 33px;
    }
    .section-catalog__header {
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 38px;
      color: #333333;
    }
    .section-catalog__discription {
      display: none;
    }
    .section-catalog__test-list {
      column-count: 1;
    }
    .section-catalog__heading-text-wrap {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      color: #333333;
    }
    .section-catalog__head-icon {
      height: 32px;
      right: -10px;
    }
    .section-catalog__heading {
      margin-top: -4px;
      margin-bottom: 2px;
      padding: 19px 120px 19px 0;
    }
    .section-catalog__content {
      padding-top: 14px;
    }
    .section-catalog__questions {
      margin-bottom: 53px;
    }
    .section-catalog__card-heading {
      margin-top: 15px;
      margin-bottom: 11px;
    }
  }



/*development*/

.section-events {
  margin-bottom: 63px;
}

.swiper-wrapper {
  padding-left: 0;
}

.events-slider {
  position: relative;
}

.section-events-slider__slider {
  overflow: hidden;
}

.section-slider__slide {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  background-color: transparent;
}

.section-events-slider__image {
  display: block;
  width: 100%;
}

.events__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
  margin: 0;
  margin-bottom: 3px;
}

.section-events-slider__slide-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  min-height: 400px;
  padding: 13px 50px 40px;
  border: 1px solid #CACACA;
  border-top: none;
}

.section-events-slider__info {
  margin-bottom: 13px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #999999;
}

.section-events-slider__info-text {
  display: block;
}

.section-events-slider__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin: 0;
  margin-bottom: -10px;
}

.section-events__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 69px;
}

.section-events__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  margin-top: auto;
  transition: color .5s ease;
}

.section-events__link::before {
  top: -5px;
  bottom: -7px;
  background-color: #9D5CD0;
}

.section-events__link:hover {
  color: #7943A4;
}

.section-events__link:focus:not(:hover):not(:active) {
  color: #FFFFFF;
}

.section-events__link:focus::after {
  transform: scaleX(1);
}

.section-events__link:active {
  color: #333333;
}

.section-events-slider__pagination {
  display: none;
}

.section-events__nav-btn-prev,
.section-events__nav-btn-next {
  position: relative;
  border: none;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border-radius: 50%;
  cursor: pointer;
}

.section-events__nav-btn-prev::before,
.section-events__nav-btn-next::before {
  content: "";
  position: absolute;
  top: calc(50% - 11px / 2);
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  transform-origin: center;
}

.section-events__nav-btn-next::before {
  left: calc(50% - 9px);
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}

.section-events__nav-btn-prev::before {
  left: calc(50% - 3px);
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.section-events-slider__nav-btn {
  position: absolute;
  z-index: 12;
  top: 50%;
  transition: opacity .5s;
}

.section-events__nav-btn-prev {
  left: 0;
  transform: translate(-50%, -50%);
}

.section-events__nav-btn-next {
  right: 0;
  transform: translate(50%, -50%);
}

.section-events-slider__nav-btn.nav-btn--disabled {
  opacity: 0;
}

@media (max-width: 1280px) {
  .events-slider {
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-color: #666666;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    padding-bottom: 40px;
  }

  .events__title {
    margin-bottom: 0;
  }

  .section-events-slider__nav-btn {
    display: none;
  }

  .section-events-slider__pagination {
    display: inline-block;
    height: auto;
    line-height: 1;
    bottom: 0;
  }

  .section-events-slider__slide-content {
    padding: 14px 32px 46px;
  }

  .section-events-slider__info {
    align-self: flex-end;
    text-align: right;
    margin-bottom: 4px;
  }

  .section-events__text {
    margin-bottom: 22px;
  }
}

@media (max-width: 970px) {
  .section-events-slider__info {
    margin-right: -20px;
  }
  .section-events-slider__slide-content {
    padding: 14px 35px 47px;
  }
}

@media (max-width: 440px) {
  .section-events {
    margin-bottom: 24px;
  }
  .events__title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #333333;
    margin-bottom: -3px;
  }
  .section-events-slider__slide-content {
    padding: 18px 22px 47px;
  }
  .section-events-slider__info {
    margin-right: -6px;
    margin-bottom: 10px;
  }
  .section-events__text {
    margin-bottom: 12px;
  }
  .section-events__link {
    margin-left: 6px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 24px;
  }
}

/*editions*/

.section-editions {
  background-image: url(../img/editionsbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-editions__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-bottom: 14px;
  padding-top: 80px;

}

.header-check {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.section-editions__check {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.check-block__box {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.check-block__box:hover {
  color: #c283f3;
}

.custom-check {
  display: none;
}

.custom-check + span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}

.custom-check + span:hover {
  border: 1px solid #c283f3;
}

.custom-check + span::before {
  content:' ';
  position: absolute;
  background-image: url(../img/bingopurple.svg);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.custom-check:checked + span::before {
  opacity: 1;
}

.price__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.section-editions__price {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  padding: 0 20px;
  margin-top: 5px;
}

.price__discription {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.input__price {
  max-width: 73px;
  background-color: rgba(157, 92, 208, 0.5);
}

.section-editions__check-block {
  padding-bottom: 80px;
}

input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;;
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.input__price::-webkit-inner-spin-button {
  display: none;
}

/*projects*/

.section-projects__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
  margin: 0;
}

.section-projects__discription {
  max-width: 1080px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-bottom: -5px;
}

.section-projects__heading-content-bottom {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 23px;
}

.tooltip-link {
  color: #9D5CD0;
  transition: .5s;
}

.tooltip-link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.tooltip-link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.tooltip-link:focus {
  color: #FFFFFF;
  background-color: #9D5CD0;
  padding: 3px 0;
  outline: none;
}

.tooltip-btn {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px solid #9D5CD0;
  border-radius: 50px;
  font-size: 12px;
  color: #000000;
  background-color: #FFFFFF;
  transition: .5s;
}

.tooltip-btn:hover {
  background-color: #D1A9F0;
  outline: 1px solid #9D5CD0;
}

.tooltip-btn:active {
  background-color: #9D5CD0;
  outline: none;
  color: #FFFFFF;
}

.tooltip-btn:focus {
  background-color: #D1A9F0;
  outline: 1px solid #9D5CD0;
}

.tippy-box[data-theme~='purple'] {
  max-width: 264px;
  border-radius: 0;
  background-color: #9D5CD0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.tippy-box[data-theme~='purple'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #9D5CD0;
}

.tippy-box[data-theme~='purple'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #9D5CD0;
}

.tippy-box[data-theme~='purple'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #9D5CD0;
}

.tippy-box[data-theme~='purple'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #9D5CD0;
}

.projects-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-projects-slider__slider {
  overflow: hidden;
  width: calc(1450 / 1600 * 100%);
}

.section-projects__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  height: 150px;
  padding: 32px 60px;
  border: 1px solid #CACACA;
  box-sizing: border-box;
  outline: none;
}

.section-projects__slide:hover .section-projects-slider__image {
  filter: grayscale(0);
  opacity: 1;
}

.section-projects__slide:focus {
  border-color: #9D5CD0;
}

.section-projects__slide:active {
  border-color: #9D5CD0;
}

.section-projects__slide:active .section-projects__slide:active {
  filter: grayscale(0);
  opacity: 1;
}

.section-projects-slider__image {
  max-height: 100%;
  filter: grayscale(1);
  opacity: .4;
  transition-property: filter, opacity;
  transition-duration: .5s;
}

.section-projects__nav-btn-prev,
.section-projects__nav-btn-next {
  position: relative;
  border: none;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: #ECECEC;
  border-radius: 50%;
  cursor: pointer;
}

.section-projects__nav-btn-prev::before,
.section-projects__nav-btn-next::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.section-projects__test-prev {
  margin-right: 10px;
}

.section-projects__nav-btn-next::before {
  left: calc(50% - 4px);
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}

.section-projects__nav-btn-prev::before {
  left: calc(50% - 3px);
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

@media (max-width: 1280px) {
  .section-projects__slide {
    height: 128px;
    padding: 27px 50px;
  }

  .section-projects-slider__slider {
    width: calc(818 / 924 * 100%);
  }

  .section-projects__heading-content-bottom {
    margin-top: 26px;
  }

  .tooltip-btn {
    width: 17px;
    height: 17px;
  }
}

@media (max-width: 970px) {
  .section-projects__slide {
    height: 106px;
    padding: 17px 24px;
  }

  .section-projects-slider__slider {
    width: calc(562 / 668 * 100%);
  }

  .tooltip-btn {
    width: 15px;
    height: 16px;
  }

  .section-projects__heading-content-bottom {
    margin-top: -28px;
    margin-bottom: 29px;
  }

  .section-projects {
    margin-bottom: 70px;
  }
}

@media (max-width: 610px) {
  .section-projects {
    margin-bottom: -72px;
  }
  .section-projects__slide {
    height: 65px;
    padding: 14px 27px;
  }

  .section-projects-slider__slider {
    width: calc(195 / 290 * 100%);
  }

  .section-projects__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #333333;
    margin-bottom: -4px;
  }
  .section-projects__heading-content-bottom {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
  }
  .section-projects__heading-content-bottom {
    margin-top: -47px;
    margin-bottom: 11px;
  }
}

/*contacts*/

.section-contacts {
  overflow-x: hidden;
  margin-bottom: 0;
}

.section-contacts__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
  margin: 0;
  margin-bottom: 14px;
}

.section-contacts__content-left-wrap {
  border: 1px solid #CACACA;
}

.section-contacts__content-left {
  border-right: 1px solid #CACACA;
  padding-top: 124px;
  padding-bottom: 121px;
  padding-right: 120px;
}

.section-contacts__container {
  display: flex;
}

.section-contacts__content-left-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-bottom: 2px;
}

.section-contacts__content-left-heading-bottom {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-bottom: 29px;
}

.form-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-bottom: 15px;
}

.section-contacts__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.section-contacts__form-input {
  width: 400px;
  height: 40px;
  border: none;
  border: 1px solid #333333;
  border-radius: 100px;
  padding-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
  transition: background-color .5s ease;
}

.section-contacts__form-input:hover {
  background-color: #EAEAEA;
}

.section-contacts__form-input:focus {
  background-color: #EAEAEA;
}

.section-contacts__form-input::placeholder {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #999999;
}

.section-contacts__form-error:not(:last-child) {
  margin-bottom: 23px;
}

.section-contacts__btn {
  cursor: pointer;
  background-color: inherit;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #9D5CD0;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  padding: 15px 33px;
  transition: background-color .5s ease, color .5s ease;
}

.section-contacts__btn:hover {
  color: #FFFFFF;
  background-color: #9D5CD0;
}

.section-contacts__btn:active {
  background-color: #7943A4;
  outline: 3px solid #D1A9F0;
}

.section-contacts__btn:focus {
  outline: 2px solid #c283f3;
  outline-offset: 5px;
}

.section-contacts__coll {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-bottom: 18px;
}

.section-contacts__item:not(:last-child) {
  cursor: pointer;
  margin-right: 22px;
}

.section-contacts__content-right {
  min-height: 320px;
  width: calc(1078 / 1600 * 100% + ((100vw - 100%) / 2)); /* 1078 - в данном случае это ширина карты внутри контейнера, её можно менять */
  margin-right: calc((-100vw + 100%) / 2);
  margin-top: -1px;
  transition-property: width, height, padding;
  transition-duration: 100ms;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.link-color path {
  transition: fill-opacity .3s;
}

.section-contacts__link:hover .link-color path {
  fill-opacity: .5;
}

.section-contacts__link:active .link-color path {
  border: 1px solid #9643A4;
}

.section-contacts__link:focus {
  outline: none;
}

.section-contacts__form-error {
  position: relative;
}

.section-contacts__link:focus .link-color path {
  fill-opacity: .5;
}

.js-validate-error-label {
  top: -17px;
  position: absolute;
  padding-left: 20px;
  color: #d11616 !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

@media (max-width: 1280px) {
  .section-contacts__content-left {
    padding-top: 128px;
    padding-bottom: 96px;
  }
  .section-contacts__form-input {
    width: 334px;
  }
  .section-contacts__link svg {
    width: 100%;
  }
  .section-contacts__link {
    display: inline-block;
    width: 61px;
    height: 64px;
  }
  .section-contacts__item:not(:last-child) {
    margin-right: 27px;
  }
  .section-contacts__content-left-heading-bottom {
    margin-bottom: 26px;
  }
}

@media (max-width: 1024px) {
  .section-contacts__content-left {
    width: calc(437 / 924 * 100%);
  }

  .section-contacts__content-right {
    width: calc(487 / 924 * 100% + ((100vw - 100%) / 2));
  }
}

@media (max-width: 768px) {
  .section-contacts__content-left {
    width: calc(380 / 668 * 100%);
    padding-right: 59px;
    padding-top: 122px;
  }
  .section-contacts__content-right {
    width: calc(288 / 668 * 100% + ((100vw - 100%) / 2));
  }
  .section-contacts__heading {
    margin-bottom: 17px;
  }
  .section-contacts__content-left-heading-bottom {
    margin-bottom: 29px;
  }
}

@media (max-width: 580px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contacts__container {
    flex-direction: column-reverse;
  }

  .section-contacts__content-left-wrap,
  .section-contacts__content-left {
    border: none;
  }

  .section-contacts__content-left,
  .section-contacts__content-right {
    width: calc(100% + 30px);
  }

   .section-contacts__content-right {
    height: 320px;
    margin-right: -15px;
    margin-left: -15px;
  }
  .section-contacts__heading {
    display: none;
  }
  .section-contacts__content-left-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin: 0;
  }
  .section-contacts__content-left-heading-bottom {
    margin-top: -8px;
  }
  .section-contacts__container {
    display: flex;
    flex-direction: column;
  }
  .form-heading {
    display: none;
  }
  .section-contacts__content-left-heading-bottom {
    margin-bottom: 8px;
  }
  .section-contacts__form-input {
    width: 290px;
  }
  .section-contacts__btn {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9D5CD0;
    padding: 10px 33px;
  }
  .section-contacts__form-error:not(:last-child) {
    margin-bottom: 21px;
  }
  .section-contacts__coll {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    margin: 0;
    margin-bottom: 7px;
  }
  .section-contacts__form {
    margin-bottom: 19px;
  }
  .section-contacts__link {
    width: 50px;
    height: 50px;
  }
  .section-contacts__item:not(:last-child) {
    margin-right: 20px;
  }
  .section-contacts__content-left {
    padding-bottom: 18px;
  }
}


/* footer */

.footer {
  padding: 49px 0;
  padding-bottom: 43px;
  background-color: #000000;
}

.footer__content {
  margin-right: auto;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link:hover .footer__link-color path {
  fill: #FFFFFF;
}

.footer__link:active .footer__link-color path {
  fill: #9D5CD0;
}

.footer__link:focus {
  outline: none;
}

.footer__link:focus .footer__link-color path {
  fill: #FFFFFF;
}

.footer__link-color path {
  transition: fill .3s;
}

@media (max-width: 1280px) {

  .footer {
    padding: 21px 0;
  }
  .footer__content {
    padding-top: 29px;
  }
  .footer__list {
    padding-top: 19px;
  }
  .footer__link svg {
    width: 100%;
  }
  .footer__link {
    display: flex;
    align-items: flex-start;
    width: 59px;
    height: 80px;
  }
  .footer__item:not(:last-child) {
    margin-right: 31px;
  }
}

@media (max-width: 440px) {
  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__link {
    width: 50px;
    height: 50px
  }
  .footer__list {
    padding-top: 0;
    margin-bottom: -10px;
  }
  .footer__content {
    margin-right: 0;
  }
}
