@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format("woff2"),
    url('../fonts/OpenSansRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans-SemiBold'),
    url('../fonts/OpenSansSemiBold.woff2') format("woff2"),
    url('../fonts/OpenSansSemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans-Bold'),
    url('../fonts/OpenSansBold.woff2') format("woff2"),
    url('../fonts/OpenSansBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border: none;
  cursor: pointer;
  text-align: center;
}

.flex {
  display: flex;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.section-offset {
  margin: 0;
  margin-bottom: 80px;
}

/*header*/

.main-top {
  position: relative;
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 4;
  color: #FFFFFF;
}

.header__block {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.header__item {
  padding: 37px 0;
}

.header__item:not(:last-child) {
  margin-right: 61px;
}

.header__nav {
  margin-right: auto;
}

.header__link-open {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: inherit;
  background-image: url(../img/openpic.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.header__top {
  background-color: #000;
}

.header__bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.main__simplebar {
  display: inline-block;
  margin-right: auto;
}

.main__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -10px;
}

.main__item {
  position: relative;
  color: #FFFFFF;
  height: 70px;
}

.main__item:not(:last-child) {
  margin-right: 80px;
}

.main__item-btn {
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  padding-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.main__item-btn:hover,
.main__item-btn:focus {
  color: var(--main);
}

.main__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: cente;
}

.main__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.main__item-btn:active {
  color: var(--two);
}

.main__dropdown {
  display: none;
  padding: 40px 0px 0px 50px;
  background-color: rgba(0, 0, 0, 0.6);
}

.main__dropdown-wrap {
  width: 300px;
  height: 300px;
}

.main__dropdown.is-active {
  position: absolute;
}

.main__dropdown > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.main__dropdown.is-active {
  display: block;
  top: 70px;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.main__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.main__drop-list {
  list-style: none;
  padding-left: 0;
}

.main__dropdown-item {
  width: 220px;
}

.main__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.main__item-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  color: #fff;
  transition: border-color .3s ease;
}

.main__item-tintoretto {
  background-image: url(../img/tintoretto.png);
}

.main__item-fridrih {
  background-image: url(../img/frederih.png);
}

.main__item-leo {
  background-image: url(../img/leo.png);
}

.main__item-varocio {
  background-image: url(../img/verokio.png);
}

.main__link_mone {
  background-image: url(../img/mone.png);
}

.main__link_sisley {
  background-image: url(../img/sisley.png);
}

.main__link_mane {
  background-image: url(../img/mane.png);
}

.main__link_renyar {
  background-image: url(../img/rene.png);
}

.main__link_vangog {
  background-image: url(../img/vangog.png);
}

.main__link_sezan {
  background-image: url(../img/sezan.png);
}

.main__link_gogen {
  background-image: url(../img/gogen.png);
}

.main__link_sera {
  background-image: url(../img/sera.png);
}

.main__link_kandinsky {
  background-image: url(../img/kandinsky.png);
}

.main__link_marenety {
  background-image: url(../img/marineti.png);
}

.main__link_malevich {
  background-image: url(../img/malevich.png);
}

.main__link_picasso {
  background-image: url(../img/picasso.png);
}

.main__link_kara {
  background-image: url(../img/karra.png);
}

.main__link_pratella {
  background-image: url(../img/pratella.png);
}

.main__link_seviriny {
  background-image: url(../img/severini.png);
}

.main__link_balla {
  background-image: url(../img/balla.png);
}

.main__item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity .3s ease;
}

.main__item-text {
  position: relative;
}

.main__item-link:hover,
.main__item-link:focus {
  outline: none;
  border-color: #9D5CD0;
}

.main__item-link:active::before {
  opacity: 1;
}

.main__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.main__item-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.main__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

.main-top {
  position: relative;
  overflow: hidden;
}

.header__bottom-container {
  align-items: center;
}

.search__btn {
  padding: 13px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border: none;
  cursor: pointer;
  background-image: url(../img/search.svg);
}

.search__input {
  background-color: inherit;
  padding-right: 30px;
  margin-top: 10px;
  border: none;
  border-radius: none;
  border-bottom: 1px solid #FFFFFF;
}

input {
  outline: none;
  color: #FFFFFF;
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*hero*/

.section-hero {
  z-index: 3;
}

.section-hero__content {
  max-width: 597px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 38px;
}

.section-hero__content > * {
  pointer-events: auto;
}

.section-hero__heading {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 1px;
  color: #FFFFFF;
}

.section-hero__discription {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 92px;
  color: #FFFFFF;
}

.section-hero__btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #9D5CD0;
  padding: 22.5px 35px;
  border-radius: 100px;
}

.swiper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.swiper-slide {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
}

.swiper0 {
   background-image: url(../img/heropic1.jpg);
}

.swiper1 {
  background-image: url(../img/heropic2.png);
}

.swiper2 {
  background-image: url(../img/heropic3.png);
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.section-hero__content {
  position: relative;
  z-index: 2;
}

/*all]*/

.section-all {
  margin-top: 88px;
  margin-bottom: 70px;
}

.section-all__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: -3px;
}

.section-all__discription {
  max-width: 1080px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

/*gallery*/

.section-gallery {
  background-image: url(../img/gallerybackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 54px;
  margin-bottom: 80px;
}

.choices {
  overflow: visible;
}

.choices__inner {
  margin-top: 10px;
  max-width: 400px;
  min-height: 40px;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

.choices__list--single {
  padding: 3px 305px 5px 15px;
}

.choices__list--single .choices__item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}

.choices__list--dropdown {
  max-width: 400px;
  background-color: inherit;
  border: 1px solid #999999;
  border-radius: 6px;
}

.choices[data-type*=select-one]:after {
  content: '';
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 1220px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*=select-one]:after {
  background-image: url(../img/selectopen.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  border: none;
  width: 12px;
  height: 12px;
}

.section-gallery__block-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.section-gallery__block-left,
.section-gallery__last {
  width: calc(400 / 1600 * 100%);
}

.section-gallery__heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.section-gallery__block-left-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.section-gallery__last {
  position: relative;
}

.section-gallery__discription {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.section-gallery__select {
  margin-bottom: 695px;
}

.dicription-link {
  color: #c283f3;
}

.section-gallery__swiper {
  padding-top: 26px;
  width: calc(1150 / 1600 * 100%);
  margin-right: 0;
}

.slides-container {
  overflow: hidden;
}

.section-gallery__navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 34px;
}

.section-gallery__pagination {
  margin-right: 23px;
  text-align: center;
  color: #ffffff;
}

.nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: #666666;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.section-gallery__prev {
  margin-right: 23px;
}

.section-gallery__next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.section-gallery__prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.section-gallery__slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.section-gallery__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease, border-color .3s ease;
}

.section-gallery__slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("https://image.flaticon.com/icons/png/512/545/545752.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.section-gallery__slide:hover::after {
  opacity: 1;
}

.section-gallery__slide:focus {
  outline: none;
}

.section-gallery__slide:focus::before {
  border-color: #7943A4;
}

.section-gallery__slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.section-gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */

@media (max-width: 1024px) {
  .section-gallery__slide::before {
    padding-top: 85%;
  }
}

@media (max-width: 768px) {
  .section-gallery__left-elem,
  .section-gallery__swiper {
    width: 100%;
    marign-left: 0;
    margin-bottom: 20px;
  }

  .section-gallery__last {
    width: 100%;
  }

  .section-gallery__last-content {
    position: static;
  }

  .section-gallery__select {
    max-width: 300px;
  }
}

@media (max-width: 440px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-gallery__navigation {
    align-self: center;
    margin-top: 20px;
  }

  .section-gallery__slide::before {
    padding-top: 110%;
  }
}

/*catalog*/



/*development*/

.section-developments__head {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
  margin-bottom: 11px;
}

.section-development__slider {
  overflow: hidden;
}

.section-developments__list {
  flex-wrap: wrap;
}

.section-developments__item {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 313px 40px 40px 50px;
  border: 1px solid #CACACA;
}

.section-development__pic1 {
  background-image: url(../img/developmentpic1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.section-development__pic2 {
  background-image: url(../img/developmentpic2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.section-development__pic3 {
  background-image: url(../img/developmentpic3.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.section-development__pic4 {
  background-image: url(../img/developmentpic4.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.section-development__pic5 {
  background-image: url(../img/developmentpic5.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.section-developments__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.section-developments__item {
  margin-bottom: 50px;
}

.data-all {
  text-align: right;
}

.section-developments__dat {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999999;
  margin-bottom: 1px;
}

.section-developments__heading {
  max-width: 420px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}

.section-developments__discription {
  max-width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 82px;
  }

.section-developments__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  align-self: flex-start;
  margin-top: auto;
}

.section-developments__item.is-hidden {
  display: none;
}

.section-developments__btn {
  border: none;
  background-color: inherit;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
  text-align: center;
  padding: 17px 35px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}


/*editions*/

.section-editions {
  background-image: url(../img/editionsbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-editions__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-bottom: 14px;
  padding-top: 80px;

}

.header-check {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.section-editions__check {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.check-block__box {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.check-block__box:hover {
  color: #c283f3;
}

.custom-check {
  display: none;
}

.custom-check + span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}

.custom-check + span:hover {
  border: 1px solid #c283f3;
}

.custom-check + span::before {
  content:' ';
  position: absolute;
  background-image: url(../img/bingopurple.svg);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.custom-check:checked + span::before {
  opacity: 1;
}

.price__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.section-editions__price {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  padding: 0 20px;
  margin-top: 5px;
}

.price__discription {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.input__price {
  max-width: 73px;
  background-color: rgba(157, 92, 208, 0.5);
}

.section-editions__check-block {
  padding-bottom: 80px;
}

input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;;
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.input__price::-webkit-inner-spin-button {
  display: none;
}

/*projects*/

.section-projects__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
  margin: 0;
  margin-bottom: 30px;
}

.section-projects__discription {
  max-width: 1080px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 30px;
}

.section-projects__heading-content-bottom {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
