@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format("woff2"),
    url('../fonts/OpenSansRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans-SemiBold'),
    url('../fonts/OpenSansSemiBold.woff2') format("woff2"),
    url('../fonts/OpenSansSemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans-Bold'),
    url('../fonts/OpenSansBold.woff2') format("woff2"),
    url('../fonts/OpenSansBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
* ::before,
* ::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border: none;
  cursor: pointer;
  text-align: center;
}

.flex {
  display: flex;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.section-offset {
  margin: 0;
  margin-bottom: 80px;
}

/*header*/

.header {
  background-color: #000000;
}

.header__block {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.header__item {
  padding: 37px 0;
}

.header__item:not(:last-child) {
  margin-right: 62px;
}

.header__nav {
  margin-right: 279px;
}

.header__link-open {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: inherit;
  background-image: url(../img/openpic.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.main__simplebar {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 3;
}

.main__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.main__item {
  position: relative;
  color: #FFFFFF;
  height: 70px;
  margin-right: 110px;
}

.main__item-btn {
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  padding-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.main__item-btn:hover,
.main__item-btn:focus {
  color: var(--main);
}

.main__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: cente;
}

.main__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.main__item-btn:active {
  color: var(--two);
}

.main__dropdown {
  display: none;
  padding: 40px 0px 0px 50px;
  background-color: rgba(0, 0, 0, 0.6);
}

.main__dropdown-wrap {
  width: 300px;
  height: 300px;
}

.main__dropdown.is-active {
  position: absolute;
}

.main__dropdown > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.main__dropdown.is-active {
  display: block;
  top: 86px;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.main__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.main__drop-list {
  list-style: none;
  padding-left: 0;
}

.main__dropdown-item {
  width: 220px;
}

.main__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.main__item-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  color: #fff;
  transition: border-color .3s ease;
}

.main__item-tintoretto {
  background-image: url(../img/tintoretto.png);
}

.main__item-fridrih {
  background-image: url(../img/frederih.png);
}

.main__item-leo {
  background-image: url(../img/leo.png);
}

.main__item-varocio {
  background-image: url(../img/verokio.png);
}

.main__link_mone {
  background-image: url(../img/mone.png);
}

.main__link_sisley {
  background-image: url(../img/sisley.png);
}

.main__link_mane {
  background-image: url(../img/mane.png);
}

.main__link_renyar {
  background-image: url(../img/rene.png);
}

.main__link_vangog {
  background-image: url(../img/vangog.png);
}

.main__link_sezan {
  background-image: url(../img/sezan.png);
}

.main__link_gogen {
  background-image: url(../img/gogen.png);
}

.main__link_sera {
  background-image: url(../img/sera.png);
}

.main__link_kandinsky {
  background-image: url(../img/kandinsky.png);
}

.main__link_marenety {
  background-image: url(../img/marineti.png);
}

.main__link_malevich {
  background-image: url(../img/malevich.png);
}

.main__link_picasso {
  background-image: url(../img/picasso.png);
}

.main__link_kara {
  background-image: url(../img/karra.png);
}

.main__link_pratella {
  background-image: url(../img/pratella.png);
}

.main__link_seviriny {
  background-image: url(../img/severini.png);
}

.main__link_balla {
  background-image: url(../img/balla.png);
}

.main__item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity .3s ease;
}

.main__item-text {
  position: relative;
}

.main__item-link:hover,
.main__item-link:focus {
  outline: none;
  border-color: #9D5CD0;
}

.main__item-link:active::before {
  opacity: 1;
}

.main__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.main__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*hero*/

.section-hero__content {
  max-width: 597px;
  margin: 0;
  padding-top: 133px;
  padding-bottom: 122px;
}

.section-hero__heading {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 1px;
  color: #FFFFFF;
}

.section-hero__discription {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 92px;
  color: #FFFFFF;
}

.section-hero__btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #9D5CD0;
  padding: 22.5px 35px;
  border-radius: 100px;
}

.swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper0 {
   background-image: url(../img/heropic1.jpg);
}

.swiper1 {
  background-image: url(../img/heropic2.png);
}

.swiper2 {
  background-image: url(../img/heropic3.png);
}

.section-hero__content {
  position: relative;
  z-index: 2;
}

.section-hero {
  position: relative;
}

/*all]*/

.section-all__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 30px;
}

.section-all__discription {
  max-width: 1080px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

/*gallery*/

.section-gallery__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
}
